# Pandas Deep Dive: Comprehensive Guide to Data Transformation, Wrangling, and Manipulation Techniques

### First Data set: TED Talks Transcripts for NLP from [Kaggle](https://www.kaggle.com/datasets/shreyasajal/linkedin-influencers-data)

About Dataset:  
This dataset contains LinkedIn Influencers' post details and other details(post dependent as well as independent) per post. This dataset can be used to analyze LinkedIn reach based on post content and related account details.

### Second Data set: TED Talks  Data from [Kaggle](https://www.kaggle.com/datasets/rounakbanik/ted-talks)
About Dataset:  
These datasets contain information about all audio-video recordings of TED Talks uploaded to the official TED.com website until September 21st, 2017. The TED main dataset contains information about all talks including number of views, number of comments, descriptions, speakers and titles. The TED transcripts dataset contains the transcripts for all talks available on TED.com.

### Import and Installation

In [46]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_colwidth', 20)
from datetime import datetime

### Read Data

In [ ]:
df = pd.read_csv('influencers_data.csv')
df_ted =pd.read_csv('ted_main.csv')

### Data Inspection

In [35]:
print(f'Shape of DataFrame:\n{df_ted.shape}\n')
print('Info and Data Types:\n')
print(df_ted.info())
print(f'\nCheck for null values:\n{df_ted.isna().sum()} \n')
print('\nFirst 5 rows of the second DataFrame:\n')
df_ted.head()

Shape of DataFrame:
(2550, 17)

Info and Data Types:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   comments            2550 non-null   int64
 1   description         2550 non-null   object
 2   duration            2550 non-null   int64
 3   event               2550 non-null   object
 4   film_date           2550 non-null   int64
 5   languages           2550 non-null   int64
 6   main_speaker        2550 non-null   object
 7   name                2550 non-null   object
 8   num_speaker         2550 non-null   int64
 9   published_date      2550 non-null   int64
 10  ratings             2550 non-null   object
 11  related_talks       2550 non-null   object
 12  speaker_occupation  2544 non-null   object
 13  tags                2550 non-null   object
 14  title               2550 non-null   object
 15  url                 2550 non-null   object
 16  views               2550 non-null   int64
dtypes: int64(7), object(10)
memory usage: 338.8+ KB
None

Check for null values:
comments              0
description           0
duration              0
event                 0
film_date             0
languages             0
main_speaker          0
name                  0
num_speaker           0
published_date        0
ratings               0
related_talks         0
speaker_occupation    6
tags                  0
title                 0
url                   0
views                 0
dtype: int64


First 5 rows of the second DataFrame:

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do...,1,1151367060,"[{'id': 7, 'name...","[{'id': 865, 'he...",Author/educator,"['children', 'cr...",Do schools kill ...,https://www.ted....,47227110
1,265,With the same hu...,977,TED2006,1140825600,43,Al Gore,Al Gore: Avertin...,1,1151367060,"[{'id': 7, 'name...","[{'id': 243, 'he...",Climate advocate,['alternative en...,Averting the cli...,https://www.ted....,3200520
2,124,New York Times c...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Sim...,1,1151367060,"[{'id': 7, 'name...","[{'id': 1725, 'h...",Technology colum...,"['computers', 'e...",Simplicity sells,https://www.ted....,1636292
3,200,In an emotionall...,1116,TED2006,1140912000,35,Majora Carter,Majora Carter: G...,1,1151367060,"[{'id': 3, 'name...","[{'id': 1041, 'h...",Activist for env...,['MacArthur gran...,Greening the ghetto,https://www.ted....,1697550
4,593,You've never see...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: Th...,1,1151440680,"[{'id': 9, 'name...","[{'id': 2056, 'h...",Global health ex...,"['Africa', 'Asia...",The best stats y...,https://www.ted....,12005869

In [16]:
df_ted.describe()

,comments,duration,film_date,languages,num_speaker,published_date,views
count,2550.000000,2550.000000,2.550000e+03,2550.000000,2550.000000,2.550000e+03,2.550000e+03
mean,191.562353,826.510196,1.321928e+09,27.326275,1.028235,1.343525e+09,1.698297e+06
std,282.315223,374.009138,1.197391e+08,9.563452,0.207705,9.464009e+07,2.498479e+06
min,2.000000,135.000000,7.464960e+07,0.000000,1.000000,1.151367e+09,5.044300e+04
25%,63.000000,577.000000,1.257466e+09,23.000000,1.000000,1.268463e+09,7.557928e+05
50%,118.000000,848.000000,1.333238e+09,28.000000,1.000000,1.340935e+09,1.124524e+06
75%,221.750000,1046.750000,1.412964e+09,33.000000,1.000000,1.423432e+09,1.700760e+06
max,6404.000000,5256.000000,1.503792e+09,72.000000,5.000000,1.506092e+09,4.722711e+07

In [43]:
print('\n Last 5 rows of First DataFrame ordered by column "followers" in descending order where column "followers" is not null')
df[df['followers'].notna()].sort_values(by='followers', ascending=False).tail()

 Last 5 rows of First DataFrame ordered by column "followers" in descending order where column "followers" is not null

,Unnamed: 0,name,headline,location,followers,connections,about,time_spent,content,content_links,media_type,media_url,num_hashtags,hashtag_followers,hashtags,reactions,comments,views,votes
1200,1200,Dale Corley,Compliance & Tra...,"['Greater', 'Bri...",171.0,171,Experienced Oper...,2 years ago,NaN,[],NaN,[],0,0,[],1,0,NaN,NaN
1199,1199,Dale Corley,Compliance & Tra...,"['Greater', 'Bri...",171.0,171,Experienced Oper...,2 years ago,NaN,[],NaN,[],0,0,[],1,0,NaN,NaN
1198,1198,Dale Corley,Compliance & Tra...,"['Greater', 'Bri...",171.0,171,Experienced Oper...,2 years ago,NaN,[],article,['http://inventi...,0,0,[],0,0,NaN,NaN
1197,1197,Dale Corley,Compliance & Tra...,"['Greater', 'Bri...",171.0,171,Experienced Oper...,2 years ago,NaN,[],NaN,[],0,0,[],0,0,NaN,NaN
8799,8799,Dale Corley,Compliance & Tra...,"['Greater', 'Bri...",171.0,171,Experienced Oper...,2 years ago,NaN,[],NaN,[],0,0,[],2,0,NaN,NaN

## Examples of data Manipulation with Pandas

### Conditional Replacements

In [ ]:
df.drop(df.columns[0], axis=1, inplace=True) # drop the first column

replaced_df = df.where(df['followers'] <= 10, 0)  # Replace followers with 0 where followers <= 10

masked_df = df.mask(df['connections'] > 300)  # mask for filtering dataframe where 'connections' > 300

replaced_vals_df = df.replace('Great post!', 'Awesome content')  # Replace 'Great post!' with 'Awesome content'

name_length_df = df['name'].apply(lambda x: len(x)) # storing number of character of each name  

connection_status_df = df[df['connections'].notna()]['connections'].map(lambda x: 'Connected' if x > 300 else 'Not Connected') # based 
# on the values in the 'connections' column that are not null and whether they are greater than 300

# all the values are missing in the column 'views', so it's better to drop this column
df.drop('views', axis=1, inplace=True)


# whenever there is a value '500+' in columns 'connections' replace it with '501'
df.loc[df['connections'] =='500+', 'connections'] = '501'

# Alternative 1: Using replace method
df['connections'] = df['connections'].replace('500+', '501')

# Alternative 2: Using apply method
df['connections'] = df['connections'].apply(lambda x: '501' if x == '500+' else x)

# Alternative 3: Using numpy.where function
df['connections'] = np.where(df['connections'] == '500+', '501', df['connections'])

# Convert the 'connections' column to numerical
df['connections'] = pd.to_numeric(df['connections'], errors='coerce').astype(pd.Int32Dtype())

### Filtering and Selection

In [ ]:
filtered_df = df[df['followers'] > 1000]  # Filter rows where followers > 1000
queried_df = df.query('connections > 1500')  # Filter rows using query string
loc_selected_df = df.loc[df['content'].str.contains('inspiring', case=False)]  # Select rows where content contains 'inspiring'
iloc_selected_df = df.iloc[df['comments'].idxmax()]  # Select the row with the maximum comments
isin_df = df[df['name'].isin(['Influencer B', 'Influencer C'])]  # Filter rows where name is in the list
has_high_votes = df['votes'].any() > 70  # Check if any influencer has votes greater than 70
filtere_column_name = df.filter(regex='num', axis=1) # the column which has "num" inside its name

### Changing Data Type

In [ ]:
# changing data type to category for less memory usage
df.about = df.about.astype("category")
df.headline = df.headline.astype("category")

### Grouping and Aggregation

In [ ]:
grouped_agg_df = df.groupby('name').agg({'followers': 'max', 'reactions': 'sum'})  # Aggregate by max and sum
grouped_transform_df = df.groupby('name')['comments'].transform('mean')  # Broadcast mean comments per influencer
grouped_filter_df = df.groupby('name').filter(lambda x: x['followers'].sum() > 1000)  # Filter groups with total followers > 100000

### Sorting and Ranking

In [ ]:
sorted_df = df.sort_values('votes', ascending=False)  # Sort by 'votes' column in descending order
largest_df = df.nlargest(2, 'comments')  # Get top 2 rows with largest number of comments
ranked_df = df.rank(ascending=False)  # Compute rank of values

### Dropping and Deleting

In [ ]:
dropped_cols_df = df.drop(columns=['content', 'votes'])  # Drop 'content' and 'votes' columns
dropped_rows_df = df.drop(index=0)  # Drop first row
deduplicated_df = df.drop_duplicates()  # Remove duplicate rows
droppedna_df = df.dropna()  # Drop rows with missing values

### Boolean Indexing

In [ ]:
inverted_condition_df = df[~(df['connections'] > 1500)]  # Invert condition to filter rows

### String Manipulation based on Condition

In [ ]:
start_with_df = df[df['name'].str.startswith('Influencer')]  # Filter rows where name starts with 'Influencer'
end_with_df = df[df['name'].str.endswith('A')]  # Filter rows where name ends with 'A'
regex_match_df = df[df['name'].str.match('[A-C]')]  # Filter rows where name matches a regex pattern

### Handling Null Values

In [ ]:
dropna_subset_df = df.dropna(subset=['content_links'])  # Drop rows with missing values in 'content_links'
filledna_df = df.fillna({'votes': 0, 'media_type': 'None'})  # Fill missing 'votes' with 0 and 'media_type' with 'None'
interpolated_df = df.interpolate()  # Interpolate missing values

### Combining Conditions

In [ ]:
combined_and_df = df[(df['followers'] > 1000) & (df['connections'] > 200)]  # Combine conditions using logical AND
combined_or_df = df[(df['followers'] > 750100000) | (df['connections'] > 200)]  # Combine conditions using logical OR

### Datetime Conditions

In [44]:
df_ted.film_date.head()

0    1140825600
1    1140825600
2    1140739200
3    1140912000
4    1140566400
Name: film_date, dtype: int64

In [51]:
df_ted.film_date = pd.to_datetime(df_ted.film_date, unit='s') # Unix timestamp of the filming

latest_date = df_ted.film_date.max() # the latest date
oldest_date = df_ted.film_date.min() # the oldest date

date_filtered_df_ted = df_ted[df_ted['film_date'] > '2010-01-02']  # Filter rows based on datetime condition
date_range_filtered_df_ted = df_ted[df_ted['film_date'].between('2015-01-01', '2016-01-15')]  # Filter rows within a datetime range

### Sampling Data

In [ ]:
sample_event = df_ted.event.sample(5)